* {
    margin: 0px;
    padding: 0px;
}

.logo {
    width: 15%;
}

body {
    background: #61184E;
}

header {
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 30px;
}

section {
    
    margin: auto;
    background: white;
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    text-align: center;
}

header > h1 {
    display: none;
}

.controle {
    display: flex;
    justify-content: end;
    padding-bottom: 50px;
}

.recibo-pronto {
    background: #61184E;
}


footer {
    padding: 24px;
    text-align: center;
    padding-top: 130px;
}

footer > p > a {
    color: aliceblue;
}

/*Daqui pra frente assinatura IG*/

.assinatura{
    text-align: center;
}
.assinatura-ignacio > img{
    width: 30%;
    margin-bottom: -40px;
}

.data {
    display: flex;
    justify-content: end;
}

.obs {
    display: flex;
}

.carimbo > img{
    display: none;
}

.bt_print > input {
    margin: 30px;
    border: none;
    border-radius: 10px;
    padding: 8px;
    background: #e2bc00;
    font-size: 18px;
    color: #0d160b;
    box-shadow: 10px 10px 34px -10px rgba(0,0,0,0.75);
}